* {
  scroll-behavior: smooth;
}


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

} 
/* header */
header {
  position: sticky;
  top: 0;

}

marquee {
  background-color: #555;
  padding: 10px 0px;
  color: #fff;
}



.nav_bg {
  background-color: rgb(118, 78, 56);

}

.navbar {
  width: 100%;
  background-color: rgba(225, 209, 199);
}

.new_navbar {
  background-color: rgb(118, 78, 56);
  z-index: 5;
}

.ic_1{
  margin-left: auto;
  font-size: 20px;
 
}

/* searchbar */
#search_bar{
  background-color: rgba(117, 75, 52, 0.75);
}
.fa-xmark{
  margin: 10px 40px;
}

/* icons */
.fa-xmark {
  font-size: 5vh;

}

.fa-moon {
  font-size: 3vh;
}


/* darkmode */
.dark {
  background-color: black;
  color: white;

}

.DARK {
  background-color: white;
}

.dark_icon {
  color: white;
}




/* 
section1 */
#sec_1 {
  background-image: url(images/bg/Untitled\ design.png);
  height: 93vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome {
  padding: 20vh 119vh 0vh 5vh;
}

.tst_1 {
  font-size: 42px;
}

.tst_2 {
  font-size: 25px;
  text-align: justify;
  color: rgb(118, 78, 56);
}

.b_1 {
  background-color: rgb(225, 209, 199);
  color: white;
  padding: 5px;
  border: 1px solid rgb(228, 229, 233);

}

.b_1:hover {
  background-color: #fff;
  color: #F2D6A8;
}




/* section2 */

#sec_2 {
  background-color: rgb(228, 229, 233);
}

.lore_img {
  border: solid 5px #555;

}







/* button */

.scrll_btn {
  right: 10px;
  bottom: 68px;
  position: fixed;
  border: 0;
  border-radius: 10% 0% 0% 10%;
  background-color: rgba(225, 186, 150);
  text-align: center;
  padding: 1vh;
  z-index: 2;

}


/* video */
.side_vdo {
  right: 10px;
  bottom: 100px;
  position: fixed;
  border: 0;
  background-color: rgba(225, 186, 150);
  text-align: center;
  padding: 1vh;
  height: 42vh;
  z-index: 2;

}

.side_rmv {
  right: 10px;
  bottom: 384px;
  position: fixed;
height: 20px;

}



/* 1hover */

.content_1 {
  font-size: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
}



.content_1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: rgb(202, 222, 184);
  transition: all ease 2s;
  transform: scaleX(0);

}

.content_1:hover::after {

  transform: scaleX(1);
}






/* SHOP */

#sec_shop {

  width: 100%;
  padding: 5%;
}

.brand {
  display: flex;
  justify-content: center;

}

.bnd {
  padding-top: 30vh;
}

.anm {
  padding: 1vh;
  transition: all ease 0.5s;
}

.anm:hover {
  transform: scale(0.9);
}


/* 2hover */
.content_2 {
  font-size: 5vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  margin-left: 31vw;
}



.content_2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: rgb(202, 222, 184);
  transition: all ease 2s;

  transform: scaleX(0);

}

.content_2:hover::after {

  transform: scaleX(1);
}

/* products */
.card {
  width: 16rem;
  padding: 10px;
  text-align: center;
  background-color: #555;
  color: aliceblue;
  transition: all ease 0.5s;
  border: 1px solid #F2D6A8;
}

.card:hover {
  transform: scale(1.1);

}

.checked {
  color: orange;
}

.card_btn {
  background-color: rgb(225, 209, 199);
  color: white;
  border: 3px solid rgb(228, 229, 233);
  border-radius: 19px;
}


.more_btn {
  background-color: rgb(225, 209, 199);
  color: white;
  border: 1px solid rgb(228, 229, 233);
  height: 40px;
  width: 90px;

}

.more_btn:hover {
  background-color: #fff;
  color: #F2D6A8;
}

/* 3hover */

.content_3 {
  font-size: 5vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  margin-left: 40vw;
}



.content_3::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: #555;
  transition: all ease 2s;

  transform: scaleX(0);

}

.content_3:hover::after {

  transform: scaleX(1);
}



/* banner */
#z {
  height: auto;
  width: 100%;

}

/*  SECTION4 */
#sec_4 {
  background-color: rgb(228, 229, 233);
}

/* HOVER_4 */

.content_4 {
  font-size: 5vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  margin-left: 40vw;
}



.content_4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: rgb(175, 156, 44);
  transition: all ease 2s;

  transform: scaleX(0);

}

.content_4:hover::after {

  transform: scaleX(1);
}

/* 3cards */
.containerm {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 229, 233);
}

.image {
  overflow: hidden;
  height: 342px;
  width: 399px;
  position: relative;
  cursor: pointer;
  margin: 4px 16px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
  transition: .5s;
  background-color: rgb(225, 193, 166);

}

.image:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-140%, -50%);
  background-color: rgb(118, 78, 56);
  opacity: 0.8;
  border-radius: 50%;
  transition: .8s
}

.image:hover:after {
  transform: translate(-50%, -50%)
}

.image:hover img {
  transform: translate(-50%, -50%) scale(1.3) rotate(20deg)
}

.im {
  position: absolute;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .8s
}

i {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-2000px, -50%);
  color: #fff;
  transition: .8s;
  transition-timing-function: ease-in
}

.image:hover i {
  transform: translate(-50%, -50%);

  transition-timing-function: ease
}

/* newsletter */
#nws_ltr {
  background-color: #555;
  padding: 9vw 0vw;
}

.te_1 {
  font-size: 48px;
  color: white;
  font-family: emoji;

}

.t_2 {
  font-size: 20px;
}

.t_3 {
  text-decoration: none;
  color: #F2D6A8;
}

.t_3:hover {
  text-decoration: underline;
}

.nws_btn {
  background-color: #F2D6A8;
  color: #555;
  padding: 9px 3rem;
  border-radius: 3px;
}

.nws_btn:hover {
  background-color: rgb(118, 78, 56);
  color: #F2D6A8;
}

.nws_email {
  width: 46vw;
  height: 7vh;
  border-radius: 3px;

}


/* footer */
.footer {
  background-color: rgb(225, 186, 150);


}

.fp {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;

}

.a {
  transition: all ease 0.5s;
}

.a:hover {
  text-decoration: underline;
  color: black;
  transform: translate(8%);
}

.fti {
  transition: all ease 0.5s;
}

.fti:hover {
  transform: matrix(0, 1, 1, 0, 0, 0);
}







/* media query */
@media only screen and (min-width: 200px) and (max-width: 548px) {

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* section1 */
  #sec_1 {

    padding: 11%;

  }


  .welcome {
    padding: 0vh;
  }

  .tst_1 {
    font-size: 34px;
  }

  .tst_2 {
    font-size: 27px;
    text-align: start;
  }

  .lore_1 {
    font-size: 20px;
  }



  /* products */
  .card {
    width: 13rem;
  }
}